%html
  %head
    %title hello
  %body
    %div#names
      %strong{:class => "code", :id => "message"} Hello #{@rank} #{@name}!
      %br
      %strong{:class => "code", :id => "message"} Hello #{@serialnum}!
